/* src/App.css */
:root {
  --header-height: 60px; /* Adjust to match the actual header height including padding */
  --sidebar-width: 300px; /* Adjust to match the chat list's actual width */
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 50vh;
  max-height: 100vh;
  overflow-x: hidden;
}

.App-header {
  background-color: #a631b0;
  color: white;
  width: 100%;
  font-size: 20px;
}

.chat-window {
  width: 82%;
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  overflow-y: auto;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column; /* Stack messages from top to bottom */
  justify-content: flex-start; /* Start aligning items from the top */
  align-items: flex-start;
  overflow-y: auto; /* Scrollable content */
  height: 65vh; /* Height minus header height */
  
}

input[type="text"] {

  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;

}

input[type="password"] {
  flex: 1;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;
}

button {
  padding: 10px 20px;
  margin: 10px;
  background-color: #a631b0;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.message.input {
  align-self: flex-end; /* Align user's messages to the right */
  background-color: #a631b0;
}

.message.websocket {
  align-self: flex-start; /* Align WebSocket messages to the left */
  background-color: #e7b7eb;
}

.message {
  /* Style for all messages */
  width: fit-content;
  max-width: 80%;
  padding: 10px;
  border-radius: 20px;
  margin: 10px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.chat-window p:first-child {
  margin-top: auto;
}

.chat-container {
  display: flex;
  flex-grow: 1;
  width: 400%;
  height: calc(100vh - var(--header-height)); /* Subtract header height */
}

.chat-list {
  width: var(--sidebar-width);
  height: 80vh;
  padding: 20px;
  overflow-y: auto;
  flex-shrink: 0; /* Prevents the sidebar from shrinking */
  margin-left: -20px;
  justify-content: center;
  overflow-x: hidden;
}

.chat-list ul {
  list-style: none; 
  width: 200px; 
}
/* Individual chat list item styling */
.chat-list li {
  padding: 10px;
  cursor: pointer;
  width:100%;
  border-bottom: 2px solid #ececec; /* Subtle separator for list items */
  background-color: white;
  border-radius: 20px;
}

a {
  text-decoration: none;
}

@media (max-width: 768px) {
  .chat-container {
    flex-direction: column;
  }

  .chat-list,
  .chat-window {
    width: 100%;
  }
}

.chat-interface {
  width: 21%;
}


.msg-input {
 
  width: 80%;
  border: 3px solid black;

  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;
  margin-left: 20px;
}

form {
  max-width: 85%;
  margin-left: 20px;
  width: 100%;

}

